@keyframes fx-floatUp {
    0% {
        opacity: 0;
        transform: translateY(0) scale(1.05);
    }
    10% {
        opacity: 1;
        transform: translateY(-10px) scale(1);
    }
    70% {
        opacity: 1;
        transform: translateY(-50px);
    }
    100% {
        opacity: 0;
        transform: translateY(-90px) scale(0.98);
    }
}
