@keyframes teleport-blur {
    0% {
        opacity: 0;
        backdrop-filter: blur(0px);
    }
    50% {
        opacity: 0.8;
        backdrop-filter: blur(3px);
    }
    100% {
        opacity: 1;
        backdrop-filter: blur(6px);
    }
}

.animate-teleport-blur {
    animation: teleport-blur 1s forwards ease-in-out;
}
