@keyframes animate-hit {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(-14px, 0);
    }
    40% {
        transform: translate(14px, 0);
    }
    60% {
        transform: translate(-12px, 0);
    }
    80% {
        transform: translate(12px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

.animate-hit {
    animation: animate-hit 0.4s ease-in-out;
}


@keyframes hitFloat {
    0% {
        opacity: 0;
        transform: translateY(20px) scale(0.8);
    }
    20% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    100% {
        opacity: 0;
        transform: translateY(-40px) scale(1.2);
    }
}

.animate-hitFloat {
    animation: hitFloat 1s ease-out forwards;
}
