{"openapi":"3.1.0","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"http://api.arcathoria.dev/v1","description":"Generated server url"}],"paths":{"/combats/{id}/actions/execute":{"post":{"tags":["Combats"],"summary":"Perform action in combat","operationId":"performActionInCombat","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExecuteActionDTO"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/CombatProblemDetail"},"examples":{"COMBAT_NOT_FOUND":{"description":"COMBAT_NOT_FOUND","value":{"type":"urn:arcathoria:combat:err-combat-not-found","title":"ERR COMBAT NOT FOUND","status":404,"detail":"Combat not found with id: {id}","instance":"/v1/combats/*","errorCode":"ERR_COMBAT_NOT_FOUND","context":{"combatId":"UUID"}}},"PARTICIPANT_NOT_SELECTED":{"description":"PARTICIPANT_NOT_SELECTED","value":{"type":"urn:arcathoria:combat:err-combat-participant-not-available","title":"ERR COMBAT PARTICIPANT NOT AVAILABLE","status":404,"detail":"Participant with id {id} not found","instance":"/v1/combats/*","errorCode":"ERR_COMBAT_PARTICIPANT_NOT_AVAILABLE","context":{"participantId":"UUID"},"upstream":{"service":"character","code":"ERR_CHARACTER_NOT_FOUND || ERR_CHARACTER_NOT_SELECTED"}}},"ACTION_TYPE_NOT_FOUND":{"description":"ACTION_TYPE_NOT_FOUND","value":{"type":"urn:arcathoria:combat:err-combat-action-type-not-found","title":"ERR COMBAT ACTION TYPE NOT FOUND","status":404,"detail":"This type of action is not supported: {type}","instance":"/v1/combats/*","errorCode":"ERR_COMBAT_ACTION_TYPE_NOT_FOUND","context":{"actionType":"string (MELEE)"}}}}}}},"503":{"description":"Service Unavailable","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/CombatProblemDetail"},"examples":{"COMBAT_ALREADY_FINISHED":{"description":"COMBAT_ALREADY_FINISHED","value":{"type":"urn:arcathoria:combat:err-service-unavailable","title":"ERR SERVICE UNAVAILABLE","status":503,"detail":"Service temporarily unavailable. Please try again later.","instance":"/v1/combats/*","errorCode":"ERR_SERVICE_UNAVAILABLE","context":{"service":"character"}}}}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/CombatProblemDetail"},"examples":{"COMBAT_ALREADY_FINISHED":{"description":"COMBAT_ALREADY_FINISHED","value":{"type":"urn:arcathoria:combat:err-combat-already-finished","title":"ERR COMBAT ALREADY FINISHED","status":409,"detail":"The fight for id {id} is already finished, this action cannot be performed","instance":"/v1/combats/*","errorCode":"ERR_COMBAT_ALREADY_FINISHED","context":{"combatId":"UUID"}}},"COMBAT_WRONG_TURN":{"description":"COMBAT_WRONG_TURN","value":{"type":"urn:arcathoria:combat:err-combat-wrong-turn","title":"ERR COMBAT WRONG TURN","status":409,"detail":"Turn belongs to {combatSide} you cannot perform the action now","instance":"/v1/combats/*","errorCode":"ERR_COMBAT_WRONG_TURN","context":{"combatSide":"ATTACKER || DEFENDER"}}}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CombatResultDTO"}}}}}}},"/combats/init/pve":{"post":{"tags":["Combats"],"summary":"Initial PVE combat","operationId":"initPveCombat","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InitPveDTO"}}},"required":true},"responses":{"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/CombatProblemDetail"},"example":{"type":"urn:arcathoria:combat:err-only-one-active-combat","title":"ERR ONLY ONE ACTIVE COMBAT","status":409,"detail":"Participant {id} already has an active combat","instance":"/v1/combats/*","errorCode":"ERR_ONLY_ONE_ACTIVE_COMBAT","context":{"participantId":"UUID"}}}}},"503":{"description":"Service Unavailable","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/CombatProblemDetail"},"examples":{"MONSTER_SERVICE":{"description":"MONSTER_SERVICE","value":{"type":"urn:arcathoria:combat:err-combat-service-unavailable","title":"ERR SERVICE UNAVAILABLE","status":503,"detail":"Service temporarily unavailable. Please try again later.","instance":"/v1/combats/*","errorCode":"ERR_SERVICE_UNAVAILABLE","context":{"service":"monster"}}},"CHARACTER_SERVICE":{"description":"CHARACTER_SERVICE","value":{"type":"urn:arcathoria:combat:err-service-unavailable","title":"ERR SERVICE UNAVAILABLE","status":503,"detail":"Service temporarily unavailable. Please try again later.","instance":"/v1/combats/*","errorCode":"ERR_SERVICE_UNAVAILABLE","context":{"service":"character"}}}}}}},"404":{"description":"Not Found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/CombatProblemDetail"},"examples":{"COMBAT_NOT_FOUND":{"description":"COMBAT_NOT_FOUND","value":{"type":"urn:arcathoria:combat:err-combat-not-found","title":"ERR COMBAT NOT FOUND","status":404,"detail":"Combat not found with id: {id}","instance":"/v1/combats/*","errorCode":"ERR_COMBAT_NOT_FOUND","context":{"combatId":"UUID"}}},"MONSTER_NOT_FOUND":{"description":"MONSTER_NOT_FOUND","value":{"type":"urn:arcathoria:combat:err-combat-participant-not-available","title":"ERR COMBAT PARTICIPANT NOT AVAILABLE","status":404,"detail":"Participant with id {id} not found","instance":"/v1/combats/*","errorCode":"ERR_COMBAT_PARTICIPANT_NOT_AVAILABLE","context":{"participantId":"UUID"},"upstream":{"service":"monster","code":"ERR_MONSTER_NOT_FOUND"}}},"CHARACTER_NOT_FOUND":{"description":"CHARACTER_NOT_FOUND","value":{"type":"urn:arcathoria:combat:err-combat-participant-not-available","title":"ERR COMBAT PARTICIPANT NOT AVAILABLE","status":404,"detail":"Participant with id {id} not found","instance":"/v1/combats/*","errorCode":"ERR_COMBAT_PARTICIPANT_NOT_AVAILABLE","context":{"participantId":"UUID"},"upstream":{"service":"character","code":"ERR_CHARACTER_NOT_FOUND || ERR_CHARACTER_NOT_SELECTED"}}}}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CombatResultDTO"}}}}}}},"/characters":{"get":{"tags":["Characters"],"summary":"Get all characters","operationId":"listCharacters","responses":{"503":{"description":"Service Unavailable","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/CharacterProblemDetail"},"example":{"type":"urn:arcathoria:character:err-service-unavailable","title":"ERR SERVICE UNAVAILABLE","status":503,"detail":"Service temporarily unavailable. Please try again later.","instance":"/v1/characters/*","errorCode":"ERR_SERVICE_UNAVAILABLE","context":{"service":"account"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CharacterDTO"}}}}}}},"post":{"tags":["Characters"],"summary":"Create a new character","operationId":"createCharacter","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCharacterDTO"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/CharacterProblemDetail"},"example":{"type":"urn:arcathoria:character:err-character-owner-not-found","title":"ERR CHARACTER OWNER NOT FOUND","status":404,"detail":"Owner with id {id} not found","instance":"/v1/characters/*","errorCode":"ERR_CHARACTER_OWNER_NOT_FOUND","context":{"accountId":"UUID"},"upstream":{"service":"account","code":"ERR_ACCOUNT_NOT_FOUND"}}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/CharacterProblemDetail"},"example":{"type":"urn:arcathoria:character:err-character-name-exists","title":"ERR CHARACTER NAME EXISTS","status":409,"detail":"Character name {character_name} already exists","instance":"/v1/characters/*","errorCode":"ERR_CHARACTER_NAME_EXISTS","context":{"characterName":"character_name"}}}}},"503":{"description":"Service Unavailable","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/CharacterProblemDetail"},"example":{"type":"urn:arcathoria:character:err-service-unavailable","title":"ERR SERVICE UNAVAILABLE","status":503,"detail":"Service temporarily unavailable. Please try again later.","instance":"/v1/characters/*","errorCode":"ERR_SERVICE_UNAVAILABLE","context":{"service":"account"}}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CharacterDTO"}}}}}}},"/characters/selects":{"post":{"tags":["Characters"],"summary":"Select character","operationId":"selectCharacter","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SelectCharacterDTO"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/CharacterProblemDetail"},"examples":{"CHARACTER_NOT_FOUND":{"description":"CHARACTER_NOT_FOUND","value":{"type":"urn:arcathoria:character:err-character-not-found","title":"ERR CHARACTER NOT FOUND","status":404,"detail":"Character with id {id} not found!","instance":"/v1/characters/*","errorCode":"ERR_CHARACTER_NOT_FOUND","context":{"characterId":"UUID"}}},"CHARACTER_NOT_SELECTED":{"description":"CHARACTER_NOT_SELECTED","value":{"type":"urn:arcathoria:character:err-character-not-selected","title":"ERR CHARACTER NOT SELECTED","status":404,"detail":"Character not selected for account {id}","instance":"/v1/characters/*","errorCode":"ERR_CHARACTER_NOT_SELECTED","context":{"accountId":"UUID"}}}}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/CharacterProblemDetail"},"example":{"type":"urn:arcathoria:character:err-character-not-owned","title":"ERR CHARACTER NOT OWNED","status":403,"detail":"Character with id {id} is not owned by the authenticated account","instance":"/v1/characters/*","errorCode":"ERR_CHARACTER_NOT_OWNED","context":{"characterId":"UUID"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CharacterDTO"}}}}}},"delete":{"tags":["Characters"],"summary":"Remove selected character","operationId":"removeSelectedCharacter","responses":{"404":{"description":"Not Found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/CharacterProblemDetail"},"examples":{"CHARACTER_NOT_FOUND":{"description":"CHARACTER_NOT_FOUND","value":{"type":"urn:arcathoria:character:err-character-not-found","title":"ERR CHARACTER NOT FOUND","status":404,"detail":"Character with id {id} not found!","instance":"/v1/characters/*","errorCode":"ERR_CHARACTER_NOT_FOUND","context":{"characterId":"UUID"}}},"CHARACTER_NOT_SELECTED":{"description":"CHARACTER_NOT_SELECTED","value":{"type":"urn:arcathoria:character:err-character-not-selected","title":"ERR CHARACTER NOT SELECTED","status":404,"detail":"Character not selected for account {id}","instance":"/v1/characters/*","errorCode":"ERR_CHARACTER_NOT_SELECTED","context":{"accountId":"UUID"}}}}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/CharacterProblemDetail"},"example":{"type":"urn:arcathoria:character:err-character-not-owned","title":"ERR CHARACTER NOT OWNED","status":403,"detail":"Character with id {id} is not owned by the authenticated account","instance":"/v1/characters/*","errorCode":"ERR_CHARACTER_NOT_OWNED","context":{"characterId":"UUID"}}}}},"204":{"description":"No Content"}}}},"/authenticate":{"post":{"tags":["Auth"],"summary":"Login","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthRequestDTO"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/AuthProblemDetail"},"example":{"type":"urn:arcathoria:auth:forbidden","title":"ERR AUTH FORBIDDEN","status":403,"detail":"Access denied","instance":"/v1/authenticate","errorCode":"ERR_AUTH_FORBIDDEN"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/AuthProblemDetail"},"examples":{"BAD_CREDENTIALS":{"description":"BAD_CREDENTIALS","value":{"type":"urn:arcathoria:auth:bad-credentials","title":"ERR AUTH BAD CREDENTIALS","status":401,"detail":"Bad credentials","instance":"/v1/authenticate","errorCode":"ERR_AUTH_BAD_CREDENTIALS"}},"EXPIRED_JWT_TOKEN":{"description":"EXPIRED_JWT_TOKEN","value":{"type":"urn:arcathoria:auth:token-expired","title":"ERR AUTH EXPIRED TOKEN","status":401,"detail":"Auth token is expired","instance":"/v1/authenticate","errorCode":"ERR_AUTH_EXPIRED_TOKEN"}}}}}},"503":{"description":"Service Unavailable","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/AuthProblemDetail"},"example":{"type":"urn:arcathoria:auth:err-external-service-unavailable","title":"ERR EXTERNAL SERVICE UNAVAILABLE","status":503,"detail":"Service temporarily unavailable. Please try again later.","instance":"/v1/authenticate","errorCode":"ERR_EXTERNAL_SERVICE_UNAVAILABLE","context":{"service":"account"}}}}},"200":{"description":"OK"}}}},"/accounts/register":{"post":{"tags":["Accounts"],"summary":"Register new account","operationId":"register","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterDTO"}}},"required":true},"responses":{"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/AccountProblemDetail"},"example":{"type":"urn:arcathoria:account:err-account-email-exists","title":"ERR ACCOUNT EMAIL EXISTS","status":409,"detail":"Account with this email already exists.","instance":"/v1/accounts/register","errorCode":"ERR_ACCOUNT_EMAIL_EXISTS","context":{"email":"email@example.com"}}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountDTO"}}}}}}},"/monsters/{id}":{"get":{"tags":["Monsters"],"summary":"Get monster by id","operationId":"getMonster","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"404":{"description":"Not Found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/MonsterProblemDetail"},"example":{"type":"urn:arcathoria:monster:err-monster-not-found","title":"ERR MONSTER NOT FOUND","status":404,"detail":"Monster not found with id {}","instance":"/v1/monsters/{id}","errorCode":"ERR_MONSTER_NOT_FOUND","context":{"monsterId":"UUID"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MonsterDTO"}}}}}}},"/csrf":{"get":{"tags":["Auth"],"summary":"Get csrf token","operationId":"csrf","parameters":[{"name":"token","in":"query","required":true,"schema":{"$ref":"#/components/schemas/CsrfToken"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CsrfToken"}}}}}}},"/combats/{id}":{"get":{"tags":["Combats"],"summary":"Get combat by id","operationId":"getCombat","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"503":{"description":"Service Unavailable","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/CombatProblemDetail"},"examples":{"CHARACTER_SERVICE":{"description":"CHARACTER_SERVICE","value":{"type":"urn:arcathoria:combat:err-service-unavailable","title":"ERR SERVICE UNAVAILABLE","status":503,"detail":"Service temporarily unavailable. Please try again later.","instance":"/v1/combats/*","errorCode":"ERR_SERVICE_UNAVAILABLE","context":{"service":"character"}}}}}}},"404":{"description":"Not Found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/CombatProblemDetail"},"examples":{"CHARACTER_NOT_FOUND":{"description":"CHARACTER_NOT_FOUND","value":{"type":"urn:arcathoria:combat:err-combat-participant-not-found-in-combat","title":"ERR COMBAT PARTICIPANT NOT FOUND IN COMBAT","status":404,"detail":"Participant with id {participantId} not found in combat {combatId}","instance":"/v1/combats/*","errorCode":"ERR_COMBAT_PARTICIPANT_NOT_FOUND_IN_COMBAT","context":{"combatId":"UUID","participantId":"UUID"}}},"COMBAT_NOT_FOUND":{"description":"COMBAT_NOT_FOUND","value":{"type":"urn:arcathoria:combat:err-combat-not-found","title":"ERR COMBAT NOT FOUND","status":404,"detail":"Combat not found with id: {id}","instance":"/v1/combats/*","errorCode":"ERR_COMBAT_NOT_FOUND","context":{"combatId":"UUID"}}}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CombatResultDTO"}}}}}}},"/combats/active":{"get":{"tags":["Combats"],"summary":"Get active combat by participant id","operationId":"getActiveCombatByParticipantId","responses":{"503":{"description":"Service Unavailable","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/CombatProblemDetail"},"examples":{"CHARACTER_SERVICE":{"description":"CHARACTER_SERVICE","value":{"type":"urn:arcathoria:combat:err-service-unavailable","title":"ERR SERVICE UNAVAILABLE","status":503,"detail":"Service temporarily unavailable. Please try again later.","instance":"/v1/combats/*","errorCode":"ERR_SERVICE_UNAVAILABLE","context":{"service":"character"}}}}}}},"404":{"description":"Not Found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/CombatProblemDetail"},"examples":{"CHARACTER_NOT_FOUND":{"description":"CHARACTER_NOT_FOUND","value":{"type":"urn:arcathoria:combat:err-combat-participant-not-available","title":"ERR COMBAT PARTICIPANT NOT AVAILABLE","status":404,"detail":"Participant with id {id} not found","instance":"/v1/combats/*","errorCode":"ERR_COMBAT_PARTICIPANT_NOT_AVAILABLE","context":{"participantId":"UUID"},"upstream":{"service":"character","code":"ERR_CHARACTER_NOT_FOUND || ERR_CHARACTER_NOT_SELECTED"}}},"PARTICIPANT_NOT_HAS_ACTIVE_COMBAT":{"description":"PARTICIPANT_NOT_HAS_ACTIVE_COMBAT","value":{"type":"urn:arcathoria:combat:err-pariticpant-not-has-active-combat","title":"ERR PARTICIPANT NOT HAS ACTIVE COMBAT","status":404,"detail":"Participant {id} not has active combats.","instance":"/v1/combats/*","errorCode":"ERR_PARTICIPANT_NOT_HAS_ACTIVE_COMBAT","context":{"participantId":"UUID"}}}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CombatIdDTO"}}}}}}},"/characters/selects/me":{"get":{"tags":["Characters"],"summary":"Get selected character","operationId":"getSelectedCharacter","responses":{"404":{"description":"Not Found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/CharacterProblemDetail"},"examples":{"CHARACTER_NOT_FOUND":{"description":"CHARACTER_NOT_FOUND","value":{"type":"urn:arcathoria:character:err-character-not-found","title":"ERR CHARACTER NOT FOUND","status":404,"detail":"Character with id {id} not found!","instance":"/v1/characters/*","errorCode":"ERR_CHARACTER_NOT_FOUND","context":{"characterId":"UUID"}}},"CHARACTER_NOT_SELECTED":{"description":"CHARACTER_NOT_SELECTED","value":{"type":"urn:arcathoria:character:err-character-not-selected","title":"ERR CHARACTER NOT SELECTED","status":404,"detail":"Character not selected for account {id}","instance":"/v1/characters/*","errorCode":"ERR_CHARACTER_NOT_SELECTED","context":{"accountId":"UUID"}}}}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/CharacterProblemDetail"},"example":{"type":"urn:arcathoria:character:err-character-not-owned","title":"ERR CHARACTER NOT OWNED","status":403,"detail":"Character with id {id} is not owned by the authenticated account","instance":"/v1/characters/*","errorCode":"ERR_CHARACTER_NOT_OWNED","context":{"characterId":"UUID"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CharacterDTO"}}}}}}},"/accounts/me":{"get":{"tags":["Accounts"],"summary":"Get current account","operationId":"myAccount","responses":{"404":{"description":"Not Found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/AccountProblemDetail"},"example":{"type":"urn:arcathoria:account:err-account-not-found","title":"ERR ACCOUNT NOT FOUND","status":404,"detail":"Account wit this id {id} not found.","instance":"/v1/accounts/me","errorCode":"ERR_ACCOUNT_NOT_FOUND","context":{"accountId":"UUID"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountDTO"}}}}}}},"/logout":{"delete":{"tags":["Auth"],"summary":"Logout","operationId":"logout","responses":{"204":{"description":"No Content"}}}}},"components":{"schemas":{"ExecuteActionDTO":{"type":"object","properties":{"combatId":{"type":"string","format":"uuid"},"actionType":{"type":"string"}},"required":["actionType","combatId"]},"CombatProblemDetail":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer","format":"int32"},"detail":{"type":"string"},"instance":{"type":"string","format":"uri"},"properties":{"type":"object","additionalProperties":{"type":"object"}},"errorCode":{"type":"string","description":"Combat service error code","enum":["ERR_COMBAT_WRONG_TURN","ERR_COMBAT_ACTION_TYPE_NOT_FOUND","ERR_COMBAT_PARTICIPANT_NOT_FOUND_IN_COMBAT","ERR_ONLY_ONE_ACTIVE_COMBAT","ERR_COMBAT_ALREADY_FINISHED","ERR_PARTICIPANT_NOT_HAS_ACTIVE_COMBAT","ERR_COMBAT_NOT_FOUND","ERR_SERVICE_UNAVAILABLE","ERR_COMBAT_PARTICIPANT_NOT_AVAILABLE"],"example":"ERR_COMBAT_NOT_FOUND","readOnly":true},"context":{"type":"object","additionalProperties":{"type":"object"}},"upstream":{"$ref":"#/components/schemas/UpstreamInfo"}}},"UpstreamInfo":{"type":"object","properties":{"service":{"type":"string"},"code":{"type":"string"}}},"CombatResultDTO":{"type":"object","properties":{"combatId":{"type":"string","format":"uuid"},"attacker":{"$ref":"#/components/schemas/ParticipantDTO"},"defender":{"$ref":"#/components/schemas/ParticipantDTO"},"status":{"type":"string","enum":["IN_PROGRESS","FINISHED","CANCELLED"]},"combatSide":{"type":"string","enum":["ATTACKER","DEFENDER"]}}},"ParticipantDTO":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"currentHp":{"type":"integer","format":"int32"},"maxHp":{"type":"integer","format":"int32"}}},"InitPveDTO":{"type":"object","properties":{"monsterId":{"type":"string","format":"uuid"}},"required":["monsterId"]},"CreateCharacterDTO":{"type":"object","properties":{"characterName":{"type":"string","maxLength":20,"minLength":3,"pattern":"^[a-zA-Z0-9_-]+$"}},"required":["characterName"]},"CharacterProblemDetail":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer","format":"int32"},"detail":{"type":"string"},"instance":{"type":"string","format":"uri"},"properties":{"type":"object","additionalProperties":{"type":"object"}},"errorCode":{"type":"string","description":"Character service error code","enum":["ERR_CHARACTER_NOT_SELECTED","ERR_CHARACTER_NOT_FOUND","ERR_CHARACTER_OWNER_NOT_FOUND","ERR_CHARACTER_NAME_EXISTS","ERR_SERVICE_UNAVAILABLE","ERR_CHARACTER_NOT_OWNED"],"example":"ERR_CHARACTER_NOT_FOUND","readOnly":true},"context":{"type":"object","additionalProperties":{"type":"object"}},"upstream":{"$ref":"#/components/schemas/UpstreamInfo"}}},"CharacterDTO":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"characterName":{"type":"string"},"health":{"type":"integer","format":"int32"},"intelligence":{"type":"integer","format":"int32"}}},"SelectCharacterDTO":{"type":"object","properties":{"characterId":{"type":"string","format":"uuid"}},"required":["characterId"]},"AuthRequestDTO":{"type":"object","properties":{"email":{"type":"string"},"password":{"type":"string","maxLength":2147483647,"minLength":8}},"required":["email","password"]},"AuthProblemDetail":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer","format":"int32"},"detail":{"type":"string"},"instance":{"type":"string","format":"uri"},"properties":{"type":"object","additionalProperties":{"type":"object"}},"errorCode":{"type":"string","description":"Auth service error code","enum":["ERR_AUTH_BAD_CREDENTIALS","ERR_AUTH_EXPIRED_TOKEN","ERR_EXTERNAL_SERVICE_UNAVAILABLE"],"example":"ERR_AUTH_BAD_CREDENTIALS","readOnly":true},"context":{"type":"object","additionalProperties":{"type":"object"}},"upstream":{"$ref":"#/components/schemas/UpstreamInfo"}}},"RegisterDTO":{"type":"object","properties":{"email":{"type":"string"},"password":{"type":"string","maxLength":32,"minLength":8}},"required":["email","password"]},"AccountProblemDetail":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer","format":"int32"},"detail":{"type":"string"},"instance":{"type":"string","format":"uri"},"properties":{"type":"object","additionalProperties":{"type":"object"}},"errorCode":{"type":"string","description":"Account service error code","enum":["ERR_ACCOUNT_EMAIL_EXISTS","ERR_ACCOUNT_NOT_FOUND","ERR_ACCOUNT_BAD_CREDENTIALS"],"example":"ERR_ACCOUNT_NOT_FOUND","readOnly":true},"context":{"type":"object","additionalProperties":{"type":"object"}},"upstream":{"$ref":"#/components/schemas/UpstreamInfo"}}},"AccountDTO":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"email":{"type":"string"}}},"MonsterProblemDetail":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer","format":"int32"},"detail":{"type":"string"},"instance":{"type":"string","format":"uri"},"properties":{"type":"object","additionalProperties":{"type":"object"}},"errorCode":{"type":"string","description":"Monster service error code","enum":["ERR_MONSTER_NOT_FOUND"],"example":"ERR_MONSTER_NOT_FOUND","readOnly":true},"context":{"type":"object","additionalProperties":{"type":"object"}},"upstream":{"$ref":"#/components/schemas/UpstreamInfo"}}},"MonsterDTO":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"currentHealth":{"type":"integer","format":"int32"},"maxHealth":{"type":"integer","format":"int32"},"intelligence":{"type":"integer","format":"int32"}}},"CsrfToken":{"type":"object","properties":{"headerName":{"type":"string"},"token":{"type":"string"},"parameterName":{"type":"string"}}},"CombatIdDTO":{"type":"object","properties":{"combatId":{"type":"string","format":"uuid"}},"required":["combatId"]}}}}