.progressContainer {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1031;
    background-color: rgba(0, 0, 0, 0.05);
}

.progressBar {
    height: 4px;
    width: 100%;
    background-image: linear-gradient(to right, #9b59b6, #6a0dad);
    box-shadow:
        0 0 10px #9b59b6,
        0 0 5px #6a0dad;
}
